* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(39, 40, 34);
}

.slidebar {
    background-color: rgb(39, 40, 34);
    width: 20%;
    color: #ffffff;
    float: left;
    overflow: scroll;
    height: 100vh;
}

li {
    font-size: 20px;
    background-color: #33d6ff;
    list-style: none;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 15px;
}

li:hover {
    border-left: 15px solid white;
    padding-left: 0px;
    font-size: 25px;
}

button {
    color: white;
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: green;
}

h1 {
    font-size: 40px;
    padding: 15px;
    color: white;
    text-align: center;
    background-color: #22b8dd;
    margin: 0;
    border-bottom: 2px solid black;
}

.container {
    float: right;
    width: 80%;
}

.container input {
    color: white;
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: #33d6ff;
    margin: 0;
    border: 0;
}

.container textarea {
    font-size: 20px;
    width: 100%;
    height: 300px;
}

.container button {
    width: 50%;
    height: 50px;
    font-size: 20px;
    background-color: green;
    margin: 0;
    border: 1px solid black;
}

#delete {
    background-color: red;
}